{
	margin:0;
	background-color:#b2b2b2;
}
img{
	border:0;
}
#header{
	background-color:#fff;
        border-bottom:1px solid #99b3ff;
}
#course{
	display:inline-block;
	width:260px;
	text-indent:20px;
    font-size:26px;
    font-weight:bold;
    color:#737373;
    font-family:verdana,sans-serif;
    line-height:60px;
}
#sign{
	display:inline-block;
	margin-left:600px;
	width:120px;
	font-size:16px;
    color:#595959;
    font-family:Arial,sans-serif;
    font-style:italic;
    line-height:60px;
}
.year{
    margin-left:10px;
    font-weight:normal;
    font-size:16px;
    color:#595959;
    font-family:Arial,sans-serif;
    font-style:italic;
}
.codeyear{
    margin-left:0px;
    font-weight:normal;
    font-size:16px;
    color:#595959;
    font-family:Arial,sans-serif;
    font-style:italic;
}
#content{
	width:1000px;
	min-height:650px;
	background-color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	margin-bottom:15px;
}
#logo{
	margin-top:30px;
	margin-bottom:30px;
}
#leftcontent{
	float:left;
	width:275px;
	min-height:600px;
}
#taskslist{
	padding:0 20px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#74a743;
	font-weight:bold;
	line-height:20px;
}
#nav{
	padding-right:5px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
}
#list{
	list-style:decimal;
}
.task{
	margin-top:10px;
}
.tasklink{
	text-decoration:none;
	color:#000;
	border-bottom:1px dotted #000079;
}
#clink{
       text-decoration:none;
       color:#737373;
}
.tlink{
       text-decoration:none;
       color:inherit;
}
#list li a:hover, #github a:hover{
	background:#acd6ff;
}
a#rank:hover{
       background:#cce6ff;
}
#contact{
	margin-top:20px;
	padding:0 20px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#74a743;
	font-weight:bold;
	line-height:20px;
}
#email{
	margin-top:10px;
	padding:0 20px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#0000e3;
	line-height:20px;
}
#github{
	margin-top:20px;
	padding:0 20px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#74a743;
	font-weight:bold;
	line-height:20px;

}
#rightcontent{
	margin-left:275px;
	min-height:600px;
	padding-right:30px;
}
#title{
    margin: 10px 0px;
    padding: 10px 0px;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    color:#2968d0;
    font-weight:bold;
}
h1{
	text-indent:0px;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    line-height:40px;
    color:#2968d0;
    text-decoration:underline;
}
h2{
    text-indent:0px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    line-height:16px;
    margin-top:16px;
    margin-bottom:5px;
    color:#2968d0;
}
.comments{
   text-indent:0px;
   font-size:15px;
   text-align: justify;
}
.location{
  font-size:15px;
  font-weight:bold;
  color:#74a743;
  margin-bottom:3px;
}
h1 a{
	text-decoration:none;
	color:#2968d0;
}
h1 a#survey{
	text-decoration:none;
	color:#74a743;
}
h1 a:hover, a#survey:hover{
	text-decoration:underline;
}
p{
	font-size:14px;
	line-height:20px;
	font-family:verdana, sans-serif;
	margin-top:10px;	
        text-align:justify;
}
#paperlist{
	list-style:decimal;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
}
#paperlist a{
	text-decoration:none;
	color:#2968d0;
}
#paperlist a:hover{
	text-decoration:underline;
}
.paper{
	margin-top:5px;
}
#footer{
	clear:both;
	margin-top:20px;
	background-color:#ffffff;
	padding:5px 10px;
}
